coloredlogs==15.0.1
flatbuffers==22.12.6
humanfriendly==10.0
mpmath==1.2.1
numpy==1.23.5
onnxruntime==1.13.1
opencv-python==4.8.1.78
packaging==22.0
protobuf==4.21.11
pyreadline3==3.4.1
sympy==1.11.1
